<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfTestApp.Properties.Settings>
            <setting name="AngleMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PhotosPath" serializeAs="String">
                <value>C:\Documents and Settings\jdhr.001A6BD0B1DD\Desktop\clcbio-mini-grid\trunk\SurfaceRabbit\TestPhotos</value>
            </setting>
            <setting name="SupportPaper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pContourThreshold" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="pAxisLength" serializeAs="String">
                <value>56.815</value>
            </setting>
            <setting name="pLocationThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="pMinArea" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="pMaxArea" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="SupportLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lContourThreshold" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="lAxisLength" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="lLocationThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="lMinArea" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lMaxArea" serializeAs="String">
                <value>200</value>
            </setting>
        </WpfTestApp.Properties.Settings>
    </userSettings>
</configuration>